#root {
  display: flex;
}
li {
  list-style-type: none;
}
.books-list-section {
  width: 30%;
}
.dinamic-section {
  width: 70%;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #9fbfdf;
}
.list-item span {
  width: 100%;
  cursor: pointer;
}
.list-item span:hover{
  color: #4080bf;
}
.book-item {
  display: flex;
}
.book-item span {
  margin-bottom: 20px;
  padding: 15px;
}
.book-item span.heading{
  font-weight: bold;
  font-size: 1.5rem;
}
.book-item span:first-child {
  width: 20%;
}
.book-item span:last-child {
  width: 80%;
}
.book-item img {
  max-width: 200px;
}
.btn {
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
  border: 1px solid #264d73;
  background: #336699;
  outline: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px #19334d;
}
.btn:hover{
  color: #b3cce6;
}
.btn:active{
  box-shadow: inset 1px 1px 3px 1px #19334d;
}
.btn.add {
  display: block;
  margin: 0 auto;
}
.form {
  width: 600px;
  margin-left: 50px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.form > div {
  border: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  line-height: 100px;
}
.label {
  width: 20%;
}
.input {
  width: 80%;
}
.input input {
  width: 100%;
  height: 100%;
}
.form-footer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.error-message {
  color: red;
}
