* {
  margin: 0;
  padding: 0;
}
body {
  background: #0b192f;
  font-size: 16px;
  padding: 0 3px;
  font-family: roboto;
}
.post-1 {
  background: #f3d250;
}
.post-2 {
  background: #8d8741;
}
.post-3 {
  background: #659dbd;
}
.post-4 {
  background: #daad86;
}
header,
main,
.main-content,
.post,
.post-content,
.minor-content,
footer,
.footer-column {
  display: flex;
}
.main-content,
.post-content,
.minor-content,
.footer-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 30px 0;
}
main,
.post,
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 30px;
  font-size: 2em;
  color: #b9bfc9;
}
.logo span {
  color: #591f4f;
}
.menu-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 3px;
  background: #fff;
}
.menu-icon::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 20px;
  height: 3px;
  background: #fff;
}
.menu-icon::after {
  content: "";
  position: absolute;
  top: 6px;
  width: 20px;
  height: 3px;
  background: #fff;
}
.nav-menu {
  display: none;
}
.menu-item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
}
.main-content,
.news-content {
  max-width: 100%;
  margin: 10px 0;
  color: #484848;
}
.post:last-child {
  height: 240px;
  background-image: url(../img/post5.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.post-image,
.news-image {
  width: 100%;
  height: auto;
}
.post-image:hover,
.post-content:hover {
  cursor: pointer;
  opacity: 0.4;
}
.post:last-child .post-content {
  opacity: 1;
}
.post-content {
  padding: 20px;
  height: 100%;
}
.post-content time {
  display: block;
  text-align: center;
  font-size: 1.5em;
}
.post-content time span {
  font-size: 1.5em;
}
.post-title {
  font-size: 2.2em;
}
.post-text {
  padding: 5px 0;
}
.news {
  background: #fff;
  margin-bottom: 12px;
}
.news-content {
  padding: 20px 15px 15px;
}
.news-content a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #484848;
  font-size: 0.8em;
  border: 1px solid #8e8e8e;
  padding: 5px;
}
.news-content a:hover {
  cursor: pointer;
  border: 1px solid #fff;
  border-bottom: 1px solid #b8b8b8;
}
.news-title {
  font-size: 1.5em;
}
.news-text {
  padding-top: 20px;
  margin-bottom: 20px;
}
footer {
  background: #162b4d;
  color: #fff;
  padding: 30px 0 10px;
  font-size: 0.7em;
  line-height: 25px;
}
.footer-column {
  margin-top: 10px;
}
.footer-column p {
  text-align: center;
}

@media screen and (min-width: 480px) {
  body {
    margin: 0 5px;
  }
  header {
    background: #162b4d;
  }
  main {
    flex-direction: row;
    align-items: flex-start;
  }
  .main-content {
    margin-right: 10px;
    width: 65%;
  }
  .post-image {
    height: 100%;
  }
  .post-content time {
    font-size: 1.5em;
  }
  .post-title {
    font-size: 1.5em;
  }
  .minor-content {
    width: 35%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 690px) {
  .post-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 30px;
    font-size: 12px;
  }
  header {
    height: 70px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
  }
  .logo {
    padding: 20px;
  }
  .menu-icon {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
  }
  .nav-menu li {
    list-style-type: none;
    box-sizing: border-box;
    padding: 29px;
  }
  .nav-menu li a {
    text-decoration: none;
    color: #fff;
  }
  .main-content {
    width: 75%;
  }
  .minor-content {
    width: 25%;
  }
  .post:nth-child(odd),
  .post-content {
    flex-direction: row;
    align-items: flex-start;
  }
  .post:nth-child(even),
  .post:nth-child(even) .post-content {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .post:nth-child(even) .post-content div {
    text-align: right;
  }
  .post-image {
    width: 50%;
  }
  .post-content {
    width: 50%;
    justify-content: space-between;
    padding: 5px;
  }
  .post-content div {
    width: 85%;
  }
  .post-content time {
    font-size: 1.5em;
    width: 30px;
  }
  .post-title {
    font-size: 2em;
    line-height: 1em;
  }
  .post-text {
    padding-bottom: 0;
  }
  .post:last-child {
    min-height: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .post:last-child .post-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-size: 1em;
  }
  .footer-column {
    margin: 0;
    align-items: flex-start;
  }
  .footer-column p {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 13px;
  }
  .post-content {
    padding: 10px;
  }
  .post-content time {
    width: 15%;
  }
}

@media screen and (min-width: 990px) {
  body {
    font-size: 15px;
  }
  .post-content {
    padding: 15px;
  }
  .post-content time {
    margin-top: -10px;
  }
}

@media screen and (min-width: 1100px) {
  body {
    font-size: 16px;
  }
}
