// Write your styles here
@mixin buttonStyle($buttonColor, $textColor) {
  background-color: $buttonColor;
  color: $textColor;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
}
@mixin link {
  display: block;
  text-align: center;
  color: $textColor;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $contentBackground;
}
.header {
  max-width: 1920px;
  min-width: 590px;
  height: 632px;
  background-image: $backgroundHeaderImage;
  background-position-x: left;
  background-position-y: center;
  background-size: cover;
  border-bottom-right-radius: 40% 38%;
  margin: 0;
  font-family: $font2;
  color: $mainTextColor;
  .header-wrap {
    margin-left: 135px;
    z-index: 9999;
    .landing-logo {
      padding-top: 15px;
      display: inline-flex;
      img {
        width: 40px;
        height: 100%;
      }
      p {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font1;
        font-size: 21px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 1.2pt;
        span {
          font-size: 10px;
        }
      }
    }
    .header_heading {
      font-family: $font1;
      font-size: 63px;
      font-weight: bold;
      line-height: 65px;
      width: 50%;
      margin-top: 60px;
      &::after {
        content: "";
        position: absolute;
        width: 265px;
        height: 50px;
        top: 200px;
        left: 135px;
        z-index: -1;
        background: $markColor;
      }
    }
    .header_text {
      font-size: 14px;
      line-height: 1.5;
      padding-top: 30px;
      padding-bottom: 55px;
      white-space: pre-line;
    }
    .header_button {
      @include buttonStyle($buttonColor, $textColor);
    }
    .login {
      padding-left: 135px;
      color: $textColor;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.section {
  margin: 0 auto;
  width: 60%;
  position: relative;
  font-family: $font2;
  color: $mainTextColor;
  .section_text {
    text-align: center;
    margin: 35px;
    font-family: $font1;
    font-size: 40px;
    font-weight: 600;
    &::after {
      content: "";
      position: absolute;
      width: 173px;
      height: 40px;
      left: 51.7%;
      z-index: -1;
      background: $markColor;
    }
  }
  .section_card {
    display: flex;
    justify-content: center;
    background-color: $cardFooterBackground;
    color: $textColor;
    min-height: 345px * 57% / 100%;
    padding: 20px;
    margin-top: 25px;
    border-radius: 5px;
    img {
      border-radius: 5px;
      width: 100%;
    }
    .section_card_heading {
      text-align: center;
      font-size: large;
      font-weight: bold;
      padding: 25px 0 15px;
    }
    .section_card_text {
      padding: 0 10% 0 15%;
      line-height: 1.2;
    }
    .section_link {
      @include link;
    }
  }
  .section_banner {
    background: linear-gradient(
      to right top,
      map-get($bColor, from),
      map-get($bColor, to)
    );
    position: absolute;
    bottom: -260px;
    left: -40px;
    min-height: 120px;
    width: 115%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    .section_banner_text_wrap {
      margin-left: 125px;
      padding-bottom: 30px;
      z-index: 1;
    }
    .section_banner_heading {
      font-family: $font1;
      font-size: 30px;
      font-weight: bold;
      color: $mainTextColor;
      &::after {
        content: "";
        position: absolute;
        width: 65px;
        height: 40px;
        top: 35px;
        left: 245px;
        z-index: -1;
        background: $markColor;
      }
    }
    .section_banner_text {
      color: $textColor;
    }
    .section_banner_button {
      margin-right: 125px;
      @include buttonStyle($buttonColor, $textColor);
    }
  }
}
footer {
  background-color: $cardFooterBackground;
  max-height: 305px;
  color: $textColor;
  margin-top: 200px;
  padding: 150px;
  font-family: $font1;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_logo,
  .footer_text,
  .footer_cr {
    max-width: 30%;
  }
  .footer_text {
    font-size: 15px;
  }
  .footer_logo {
    @extend .landing-logo;
    display: inline-flex;
    p {
      display: flex;
      flex-direction: column;
    }
  }
}
