$font1: "Source Sans Pro", sans-serif;
$font2: "Hind", sans-serif;
$font3: "Fresca", sans-serif;
$bannerFromColor: #305ecf;
$bannerToColor: #649413;
$backgroundHeaderImage: url(../img/m-h-day.jpg);
$mainTextColor: #000;
$textColor: #fff;
$contentBackground: #fff;
$cardFooterBackground: #21232e;
$buttonColor: #649413;
$bColor: (
  from: #689803,
  to: #2c5adb,
);
// $bannerFromColor: #689803;
// $bannerToColor: #2c5adb;
$markColor: #14a0c7;
