$font1: "Source Sans Pro", sans-serif;
$font2: "Hind", sans-serif;
$font3: "Fresca", sans-serif;
$bannerFromColor: #305ecf;
$bannerToColor: #649413;
$backgroundHeaderImage: url(../img/m-h-night.jpg);
$mainTextColor: #fff;
$textColor: #fff;
$contentBackground: #21232e;
$cardFooterBackground: #3b3f50;
$buttonColor: #e3ac00;
$bColor: (
  from: #e0a802,
  to: #922c52,
);
// $bannerFromColor: #e0a802;
// $bannerToColor: #922c52;
$markColor: #ff4e33;
